* {
	box-sizing: border-box;
}

body {
	background: white;
	color: #fff;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	position: relative;
	vertical-align: top;
	top: 90px;
	margin-right: 20px;
	width: 24%;
	max-width: 550px;
	height: 300px;
	left: -90px;
}

.contenido-principal__contenedor {
	top: 20px;
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: black;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
	top: 30px;;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color:red;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
	
}

.img_carrusel{
	position: relative;
	height: 160px;
	width: 300px;
	
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background:red;
	opacity: .2;
	border-radius: 0;	
	top:10px;
	position: relative;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}

.texto_img{
	position: relative;
	color: black;
	top: 20px;
}

.botellas_texto{
	color: black;
	size: 60px;
	font-style:italic;
	top: 100px;
	position: relative;
	
  
}

	.alcohol{
		
	}

	.alcohol2{
		color: blue;
		top: 150px;
		left: 320px;
		position: relative;
		font-family:'Josefin Sans',sans-serif;
		font-size:50px;
		z-index: 1000;
		display: inline-block !important; /* Asegura que los elementos estén en la misma línea */
		margin-right: 5px;
		
		
	}


	.H6O1{
		display: inline-block; 
		position: absolute;
		color: blue;
		top: 150px;
		left: -150px;
		position: relative;
		font-family:'Josefin Sans',sans-serif;
		font-size:50px;
		z-index: 1000;

	}
	.H6O12{
		color: blue;
		top: 150px;
		left: 320px;
		position: relative;
		font-family:'Josefin Sans',sans-serif;
		font-size:50px;
		z-index: 1000;
		 /* Asegura que los elementos estén en la misma línea */
		margin-right: 5px;
		
		display: inline-block !important;
		
	}

	


  .img_water{
	position: relative;
	left: -720px;
	height: 170px;
	

  }
  .img_water2{
	position: relative;
	left: -370px;
	height: 170px;
  }

.vendas{
	position: relative;
	height: 180px;
	left: -300px;
	top: 50px;
	
}

.medicina{
	position: absolute;
	left: 1050px;
	height: 200px;
	
}

.objeto1{
	color: blue;
	position: relative;
	font-family:'Josefin Sans',sans-serif;
	display: inline-block;  /* Asegura que los elementos estén en la misma línea */
    margin-right: 5px;
	top: -100px;
	left: -100px;
	

}

.objeto2{
	color: blue;
	position: relative;
	font-family:'Josefin Sans',sans-serif;
	top: 5px;
	left: -100px;
	

}

.objeto3{
	color: black;
	position: relative;
	font-family:'Josefin Sans',sans-serif;
	display: inline-block;  /* Asegura que los elementos estén en la misma línea */
    margin-right: 5px;
	border: 3px solid;
	width: 120px;
	height: 40px;
	text-align: center;
	top: -100px;
	left: -100px;

}

.objeto4{
	color: black;
	position: relative;
	font-family:'Josefin Sans',sans-serif;
	border: 3px solid;
	width: 120px;
	height: 40px;
	text-align: center;
	top: 10px;
	left: -100px;
}


.progress-bar {
	width: 200px; /* Adjust width as needed */
	height: 20px; /* Adjust height as needed */
	border: 1px solid #ccc;
	border-radius: 5px;
	position: relative;
  }

  .progress-circle {
	width: 0%; /* Initial progress */
	height: 100%;
	background-color: #007bff; /* Adjust color as desired */
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
  }

  .progress-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #007bff; /* Match progress bar color */
	font-weight: bold;
  }

  