body {
 
  background-image: url("/img/Botiquin.png" ); 
  position: fixed;
  background-repeat: no-repeat;
  size: 20px;
  background-size: 1600px;
  background-position:center;
  background-position-y:100px;

}

.container-fluid{
  position: relative;
  
}



.navbar{
  background-color: #565656;
  margin-top: 0 !important;
  opacity: 40%;
}




.navbar_grey{
  width: 100%;
  opacity: 40%;
  position: fixed;
  
}



.logo_usuario{
  height: 90%;
  }

 .boton1{
  color: red;
  border-radius: 20%;
  background-color: #004AAD;
  border-color: white;
  opacity: 90%; 
  border-radius: 200px;
  box-shadow: 0px 0px 20px black;
  font-family:'Josefin Sans',sans-serif;
  
 }

 .boton2{
  color: #004AAD;
  border-radius: 20%;
  background-color: white;
  border-radius: 200px;
  box-shadow: 0px 0px 20px black;
  font-family:'Josefin Sans',sans-serif;
 }

.title_div{
  position: absolute;
  float: left;
  left: 50px;
  top: 200px;
  
}


.title{
  color:#004AAD;
  font-size:70px;
  font-family:'Josefin Sans',sans-serif;
  position: absolute;
}

.canva_black{
  float: left;
  top: 450px;
  left: 700px;
  position:relative;
  
}

.product_button{
  position: absolute;
  position:fixed ;
  float:left;
  left: 120px;
  top: 650px;
  
}

.button{
  background-color: #004AAD;
  height: 50px;
  width: 200px;
  border-color: white;
  font-style: bold;
  color: white;
  position: fixed;
  
}

.material{
  color: white;
  position: absolute;
  float: left;
  left: 1100px;
  top: 660px;
  font-family:'Josefin Sans',sans-serif;
  width: 500%;
  z-index: 1000;
 
}

.material_font{
  font-size: 30px;
  font-style: bold;
  transform: translate(-50%, -50%);
  position: absolute;
}

.linea_curva{
  top: 280px;
  height: 600px;
  position: relative;
  position: fixed;

}

.LineasAmarillas{
 position: absolute ;
 float: left;
 left: 1030px;
 top: 550px;
 z-index: 1000;
}

.rear{
  font-family:'Josefin Sans',sans-serif;
  position: relative;
  font-size: 15px;
  left: -220px;
  top: 30px;
}

.storage{
  font-family:'Josefin Sans',sans-serif;
  position: relative;
  font-size: 15px;
  left: -05px;
  top: 5px;
}

.view{
  font-family:'Josefin Sans',sans-serif;
  position: relative;
  font-size: 15px;
  left: 190px;
  top: -20px;
  
}



  
@media (max-widht:700px){
  header{
    flex-direction: column;
  }
}

